<form action="/create" method="POST">
    <h2>Create hero</h2>

    <div class="input-field">
        nickname: <input type="text" name="nickname"><label></label>
  
    
        realname: <input type="text" name="realname"><label></label>
   
    
        origin_description: <input type="text" name="origin_description"><label></label>
   
   
        superpowers: <input type="text" name="superpowers"><label></label>
   
 
        catch_phares: <input type="text" name="catch_phrase"><label></label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>

